<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
  <div style="text-align:center">
  <h1>To-Do List com Angular</h1>
  <input [(ngModel)]="tarefa" type="text">
  <button (click)="adicionar()" type="button">Adicionar</button>
  <ul>
    <li *ngFor="let tarefa of tarefas">{{ tarefa }}</li>
  </ul>
</div>
